<div th:fragment="sidebar_user">
    <div class="sidebar-profile">
        <img th:src="${'/img/man_profile.png'}"
             alt="프로필" class="sidebar-avatar" />
        <div class="sidebar-balance">
            <div>내 자금</div>
            <div>잔액: <span th:text="${profile.balance != null ? #numbers.formatDecimal(profile.balance, 0, 'COMMA', 2, 'POINT') : '0.00'}"></span> KRW</div>
        </div>
    </div>
    <nav class="sidebar-menu">
        <a th:href="@{/dashboard/user/profile}" class="sidebar-menu-item">내 정보</a>
        <a th:href="@{/dashboard/user/uploadedBundles}" class="sidebar-menu-item">번들 요청 내역</a>
        <a th:href="@{/dashboard/user/fundedBundles}" class="sidebar-menu-item">펀딩한 번들</a>
        <a th:href="@{/dashboard/user/myPosts}" class="sidebar-menu-item">작성한 게시글</a>
        <a th:href="@{/dashboard/user/myComments}" class="sidebar-menu-item">작성한 댓글</a>
        <a th:href="@{/dashboard/user/likedBundles}" class="sidebar-menu-item">찜한 번들</a>
    </nav>
</div>