<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: commonHead}">
</head>

<title>AssetBundle 목록</title>
    <script th:src="@{/js/admin.js}"></script>
	<script th:src="@{/js/assetBundle.js}"></script>
<link rel="stylesheet" th:href="@{/css/admin.css}" />

<body>
<div th:replace="~{fragments/header :: commonHeader}"></div>

<div class="main-content">
    <div class="container">
        <div class="title-section">
            <h2>AssetBundle 전체 목록</h2>
            <p>업로드된 모든 AssetBundle을 확인합니다.</p>
        </div>

        <div class="item-card">
            <h3>AssetBundle 목록</h3>
            <table class="data-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>번들 이름</th>
                        <th>파일 경로-윈도우</th>
                        <th>파일 경로-안드로이드</th>
                        <th>번들 타이틀</th>
                        <th>번들 설명</th>
                        <th>업로드 시간</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="bundle : ${assetBundles}">
                        <td th:text="${bundle.id}"></td>
                        <td th:text="${bundle.bundleName}"></td>
                        <td th:text="${bundle.filePath[0]}"></td>
                        <td th:text="${bundle.filePath[1]}"></td>
                        <td th:text="${bundle.bundleTitle}"></td>
                        <td th:text="${bundle.bundleDescription}"></td>
                        <td th:text="${bundle.uploadedAt}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>